apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infra-controllers
  namespace: flux-system
spec:
  dependsOn:
    - name: infra-bootstrap
  interval: 1h0m0s
  path: /infrastructure/controllers
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
